<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ./templates/head.ejs%>
</head>

<body>
  <div class="container-scroller">
    <!-- include ./templates/header.ejs -->
    <div class="container-fluid page-body-wrapper">
      <% include ./templates/sidemenu.ejs%>
      <div class="main-panel">
        <div class="content-wrapper">
          <%- include(body_page) %>
        </div>
        <% include ./templates/footer.ejs%>
      </div>
    </div>
  </div>
<% include ./templates/footer-script.ejs%>

</body>
</html>
