<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item"><a class="nav-link" href="/main"><img class="menu-icon" src="images/menu_icons/01.png" alt="menu icon"><span class="menu-title">대시 보드</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/detail"><img class="menu-icon" src="images/menu_icons/02.png" alt="menu icon"><span class="menu-title">전체 목록</span></a></li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages"> <img class="menu-icon" src="images/menu_icons/08.png" alt="menu icon"> <span class="menu-title">개발자모드</span><i class="menu-arrow"></i></a>
      <div class="collapse" id="general-pages">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/develop_deploy">스캐치업로더</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
<!-- partial -->
