<div id="editor_holder" class="json-editor">
  <div class="item object" data-path=""><span class="expander"></span><input class="property" readonly="readonly" title="ProductDeal_Shocking">
    <div class="item object" data-path="ProductDeal_Shocking.0"><span class="expander"></span><input class="property" readonly="readonly" title="#Card/Deal/Shocking">
      <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.0"><span class="expander"></span><input class="property" readonly="readonly" title="Info/Deal/Basic">
        <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.0.Info/Deal/Basic.0"><input class="property" readonly="readonly" title="하단16"></div>
        <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.0.Info/Deal/Basic.1"><span class="expander"></span><input class="property" readonly="readonly" title="가격정보">
          <div class="item string" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.0.Info/Deal/Basic.1.가격정보.0"><input class="property" readonly="readonly" title="24%"></div>
          <div class="item string" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.0.Info/Deal/Basic.1.가격정보.1"><input class="property" readonly="readonly" title="22,900원"></div>
          <div class="item string" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.0.Info/Deal/Basic.1.가격정보.2"><input class="property" readonly="readonly" title="56,000원"></div>
        </div>
        <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.0.Info/Deal/Basic.2"><span class="expander"></span><input class="property" readonly="readonly" title="상품명">
          <div class="item string" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.0.Info/Deal/Basic.2.상품명.0"><input class="property" readonly="readonly" title="✏️상품명"></div>
        </div>
        <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.0.Info/Deal/Basic.3"><span class="expander"></span><input class="property" readonly="readonly" title="좋아요">
          <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.0.Info/Deal/Basic.3.좋아요.0"><input class="property" readonly="readonly" title="Fill 6"></div>
        </div>
        <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.0.Info/Deal/Basic.4"><input class="property" readonly="readonly" title="상단16"></div>
      </div>
      <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.1"><input class="property" readonly="readonly" title="line"></div>
      <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.2"><span class="expander"></span><input class="property" readonly="readonly" title="play/btn_play/딤드추가">
        <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.2.play/btn_play/딤드추가.0"><span class="expander"></span><input class="property" readonly="readonly" title="play/btn_pause">
          <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.2.play/btn_play/딤드추가.0.play/btn_pause.0"><input class="property" readonly="readonly" title="Path"></div>
        </div>
        <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.2.play/btn_play/딤드추가.1"><span class="expander"></span><input class="property" readonly="readonly" title="Combined Shape">
          <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.2.play/btn_play/딤드추가.1.Combined Shape.0"><input class="property" readonly="readonly" title="Rectangle 2 Copy 2"></div>
          <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.2.play/btn_play/딤드추가.1.Combined Shape.1"><input class="property" readonly="readonly" title="Rectangle 2 Copy 3"></div>
        </div>
      </div>
      <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.3"><span class="expander"></span><input class="property" readonly="readonly" title="긴급공수아이콘40x40">
        <div class="item object" data-path="ProductDeal_Shocking.0.#Card/Deal/Shocking.3.긴급공수아이콘40x40.0"><input class="property" readonly="readonly" title="flag_fast"></div>
      </div>
    </div>
    <div class="item object" data-path="ProductDeal_Shocking.1"><span class="expander"></span><input class="property" readonly="readonly" title="#Relates/Deal/Benefit">
      <div class="item object" data-path="ProductDeal_Shocking.1.#Relates/Deal/Benefit.0"><input class="property" readonly="readonly" title="하단16"></div>
      <div class="item object" data-path="ProductDeal_Shocking.1.#Relates/Deal/Benefit.1"><span class="expander"></span><input class="property" readonly="readonly" title="구매갯수">
        <div class="item string" data-path="ProductDeal_Shocking.1.#Relates/Deal/Benefit.1.구매갯수.0"><input class="property" readonly="readonly" title="1,330개 구매"></div>
      </div>
      <div class="item object" data-path="ProductDeal_Shocking.1.#Relates/Deal/Benefit.2"><span class="expander"></span><input class="property" readonly="readonly" title="혜택">
        <div class="item object" data-path="ProductDeal_Shocking.1.#Relates/Deal/Benefit.2.혜택.0"><span class="expander"></span><input class="property" readonly="readonly" title="OK캐쉬백적립">
          <div class="item string" data-path="ProductDeal_Shocking.1.#Relates/Deal/Benefit.2.혜택.0.OK캐쉬백적립.0"><input class="property" readonly="readonly" title="OK캐쉬백+3%적립"></div>
        </div>
        <div class="item object" data-path="ProductDeal_Shocking.1.#Relates/Deal/Benefit.2.혜택.1"><span class="expander"></span><input class="property" readonly="readonly" title="무료배송">
          <div class="item string" data-path="ProductDeal_Shocking.1.#Relates/Deal/Benefit.2.혜택.1.무료배송.0"><input class="property" readonly="readonly" title="무료배송"></div>
        </div>
      </div>
    </div>
    <div class="item object" data-path="ProductDeal_Shocking.2"><input class="property" readonly="readonly" title="#UnderLine"></div>
  </div>
</div>
