
  <div class="form-group row">
    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">블록선택</label>
    <div class="col-sm-9">
      <div class="input-group col-xs-12">
        <input id="fileNameText" type="text" class="form-control" disabled placeholder="블록 선택">
        <span class="input-group-append">
          <button id="upload_button" class="file-upload-browse btn btn-info" type="button">블록찾기</button>
        </span>
      </div>
    </div>
  </div>
